@charset "UTF-8";
/* color */
/*-- width --*/
/*-- breakpoint --*/
.c-topActivity {
  background-color: #F2F7F6;
  padding: 48px 16px;
}
@media screen and (min-width: 1025px) {
  .c-topActivity {
    padding: 48px;
  }
}

.c-topActivity__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-topActivity__items {
  width: calc((100% - 19px) / 2);
}
@media screen and (min-width: 1025px) {
  .c-topActivity__items {
    width: calc((100% - 40px) / 3);
  }
  .c-topActivity__items:nth-child(n+4) {
    margin-top: 44px;
  }
}
@media screen and (max-width: 767px) {
  .c-topActivity__items:nth-child(n+3) {
    margin-top: 44px;
  }
}
.c-topActivity__items dl {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.c-topActivity__items dt {
  padding: 2px 6px;
  color: #fff;
  background-color: #50A594;
  border-radius: 7%;
}
@media screen and (min-width: 1025px) {
  .c-topActivity__items dt {
    font-size: 12px;
    font-size: 1.2rem;
  }
}
.c-topActivity__items dd {
  margin-left: 4px;
  color: #6A6A6A;
}
@media screen and (min-width: 1025px) {
  .c-topActivity__items dd {
    margin-left: 8px;
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.c-topActivity__itemsImage {
  height: 110px;
}
@media screen and (min-width: 1025px) {
  .c-topActivity__itemsImage {
    height: 250px;
  }
}

.c-topActivity__itemsTitle {
  margin-top: 8px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
}
@media screen and (min-width: 1025px) {
  .c-topActivity__itemsTitle {
    font-size: 20px;
    font-size: 2rem;
  }
}

.c-topActivity__itemsText {
  margin-top: 8px;
  font-size: 11px;
  font-size: 1.1rem;
  color: #6A6A6A;
}
@media screen and (min-width: 1025px) {
  .c-topActivity__itemsText {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.8em;
  }
}

@media screen and (max-width: 767px) {
  .c-display--pc {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .c-display--sp {
    display: none;
  }
}

.c-contentWidth {
  max-width: 960px;
  margin: 0 auto;
}

.c-titleArea__icon {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 24px 0;
  margin: 0 auto;
}

.c-titleArea__title--black {
  font-size: 28px;
  font-size: 2.8rem;
  font-style: "Futura";
  color: #1A1311;
  text-align: center;
  letter-spacing: 0.2em;
}

.c-titleArea__title--green {
  font-size: 28px;
  font-size: 2.8rem;
  font-style: "Futura";
  color: #50A594;
  text-align: center;
  letter-spacing: 0.2em;
}

.c-titleArea__title--blue {
  font-size: 28px;
  font-size: 2.8rem;
  font-style: "Futura";
  color: #4BB3D9;
  text-align: center;
  letter-spacing: 0.2em;
}

.c-titleArea__title--gray {
  font-size: 28px;
  font-size: 2.8rem;
  font-style: "Futura";
  color: #6A6A6A;
  text-align: center;
  letter-spacing: 0.2em;
}

.c-titleArea__subTitle--black {
  margin-top: 4px;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  color: #1A1311;
}

.c-titleArea__subTitle--green {
  margin-top: 4px;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  color: #50A594;
}

.c-titleArea__subTitle--blue {
  margin-top: 4px;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  color: #4BB3D9;
}

.c-titleArea__subTitle--gray {
  margin-top: 4px;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: center;
  color: #6A6A6A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: normal;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

:where(nav li)::before {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

input,
select {
  word-break: break-all;
  border: none;
  appearance: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

img,
svg {
  width: 100%;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  color: #1A1311;
}

.l-headerTop {
  /* animation付与時のアイコンのcss */
  /* 初期状態では左側に隠している状態に設定 */
}
.l-headerTop .l-header__icon {
  background-color: #F2F2F2;
  cursor: pointer;
  height: 62px;
  position: absolute;
  padding: 19px 16px;
  right: 0;
  top: 0;
  width: 62px;
  z-index: 3;
}
.l-headerTop .l-header__icon .bar {
  background-color: #707070;
  height: 1px;
  position: absolute;
  transition: all 0.5s;
  width: 30px;
}
.l-headerTop .l-header__icon .top {
  top: 30%;
}
.l-headerTop .l-header__icon .middle {
  top: 48%;
}
.l-headerTop .l-header__icon .bottom {
  top: 66%;
}
.l-headerTop .animation1 .top {
  top: 48%;
}
.l-headerTop .animation1 .bottom {
  top: 48%;
}
.l-headerTop .animation2 .top {
  transform: rotate(45deg);
}
.l-headerTop .animation2 .middle {
  opacity: 0;
}
.l-headerTop .animation2 .bottom {
  transform: rotate(-45deg);
}
.l-headerTop .l-header__menus {
  background-color: #F2F2F2;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: left 0.5s;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .l-headerTop .l-header__menus {
    left: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .l-headerTop .l-header__menus {
    right: -600px;
    width: 600px;
  }
}
.l-headerTop .l-header__menus.animation2 {
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .l-headerTop .l-header__menus.animation2 {
    left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .l-headerTop .l-header__menus.animation2 {
    right: 0;
  }
}
.l-headerTop .l-header__menuList {
  left: 14%;
  position: absolute;
  top: 30%;
}
.l-headerTop .l-header__menuList li {
  border-bottom: 1px solid #E2E2E2;
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  padding-bottom: 9px;
}
.l-headerTop .l-header__menuList li:not(:first-child) {
  padding-top: 19px;
}

.l-headerUnder {
  background-color: #F2F2F2;
  height: 62px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .l-headerUnder {
    height: 80px;
    padding: 13px 16px;
  }
}
.l-headerUnder .c-display--sp .l-header__contents {
  display: flex;
}
.l-headerUnder .c-display--sp .l-header__logo {
  align-items: center;
  display: flex;
  height: 62px;
  justify-content: center;
  width: 62px;
}
.l-headerUnder .c-display--sp .l-header__logo img {
  height: 37px;
  width: 32px;
}
.l-headerUnder .c-display--sp .l-header__icon {
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 62px;
  z-index: 3;
}
.l-headerUnder .c-display--sp .l-header__icon .bar {
  background-color: #707070;
  height: 1px;
  position: absolute;
  transition: all 0.5s;
  width: 30px;
}
.l-headerUnder .c-display--sp .l-header__icon .top {
  top: 30%;
}
.l-headerUnder .c-display--sp .l-header__icon .middle {
  top: 48%;
}
.l-headerUnder .c-display--sp .l-header__icon .bottom {
  top: 66%;
}
.l-headerUnder .c-display--sp .animation1 .top {
  top: 48%;
}
.l-headerUnder .c-display--sp .animation1 .bottom {
  top: 48%;
}
.l-headerUnder .c-display--sp .animation2 .top {
  transform: rotate(45deg);
}
.l-headerUnder .c-display--sp .animation2 .middle {
  opacity: 0;
}
.l-headerUnder .c-display--sp .animation2 .bottom {
  transform: rotate(-45deg);
}
.l-headerUnder .c-display--sp .l-header__menus {
  background-color: #F2F2F2;
  height: 100vh;
  position: fixed;
  top: 0;
  transition: left 0.5s;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .l-headerUnder .c-display--sp .l-header__menus {
    left: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .l-headerUnder .c-display--sp .l-header__menus {
    right: -600px;
    width: 600px;
  }
}
.l-headerUnder .c-display--sp .l-header__menus.animation2 {
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .l-headerUnder .c-display--sp .l-header__menus.animation2 {
    left: 0;
  }
}
@media screen and (min-width: 1025px) {
  .l-headerUnder .c-display--sp .l-header__menus.animation2 {
    right: 0;
  }
}
.l-headerUnder .c-display--sp .l-header__menuList {
  left: 14%;
  position: absolute;
  top: 30%;
}
.l-headerUnder .c-display--sp .l-header__menuList li {
  border-bottom: 1px solid #E2E2E2;
  font-size: 28px;
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  padding-bottom: 9px;
}
.l-headerUnder .c-display--sp .l-header__menuList li:not(:first-child) {
  padding-top: 19px;
}
.l-headerUnder .c-display--pc .l-header__contents {
  align-items: center;
  display: flex;
}
.l-headerUnder .c-display--pc .l-header__logo img {
  height: 50px;
  width: 44px;
}
.l-headerUnder .c-display--pc .l-header__nav {
  margin-left: 19%;
}
.l-headerUnder .c-display--pc .l-header__navList {
  display: flex;
  font-size: 18px;
  font-size: 1.8rem;
}
.l-headerUnder .c-display--pc .l-header__navList li:not(:first-child) {
  margin-left: 120px;
}

.l-footer {
  padding: 32px 45px 16px;
  font-size: 11px;
  font-size: 1.1rem;
  text-align: center;
  background-color: #F2F2F2;
}

.l-footer__logo {
  width: 48px;
  height: 55px;
  margin: 0 auto;
}

.l-footer__title {
  margin-top: 8px;
}

.l-footer__address {
  margin-top: 8px;
  color: #6A6A6A;
}

.l-footer__tel {
  margin: 8px 0;
  color: #6A6A6A;
}

.l-footer__bottom {
  width: 80%;
  margin: 0 auto;
  padding: 8px 0;
  color: #6A6A6A;
  border-top: 1px solid #E2E2E2;
}
@media screen and (min-width: 1025px) {
  .l-footer__bottom {
    width: 100%;
  }
}

.l-footer__copy {
  margin-top: 8px;
  color: #C1C1C1;
}

@media screen and (min-width: 1025px) {
  .l-main {
    padding-bottom: 80px;
  }
}

/* メインビジュアル */
.p-hero {
  background-image: url("../image/top/main-sp.jpg");
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-hero {
    background-image: url("../image/top/main.jpg");
  }
}
.p-hero:before {
  content: "";
  display: block;
  padding-bottom: 216%;
}
@media screen and (min-width: 1025px) {
  .p-hero:before {
    padding-bottom: 56%;
  }
}

.p-hero__title {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

/* 名寄について */
.p-topAbout {
  padding: 20px 16px 48px;
}

@media screen and (min-width: 1025px) {
  .p-topAbout__inner {
    display: flex;
    flex-direction: row-reverse;
    gap: 64px;
    justify-content: space-between;
    padding: 80px 0px 48px;
  }
}

@media screen and (min-width: 1025px) {
  .p-topAbout__contents {
    width: 45%;
  }
}

@media screen and (min-width: 1025px) {
  .p-topAbout__img {
    width: 580px;
  }
}
@media screen and (max-width: 767px) {
  .p-topAbout__img {
    width: 100%;
  }
}

.p-topAbout__title {
  color: #50A594;
  font-size: 2.8rem;
  font-family: "fot-tsukuaoldmin-pr6n, sans-serif;";
  font-style: normal;
  font-weight: 300;
  margin-top: 32px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-topAbout__title {
    font-size: 3.2rem;
    margin-top: 0px;
  }
}

.p-topAbout__icon {
  align-items: center;
  display: flex;
  height: 12px;
  margin: 0 auto;
  padding: 24px 0;
  width: 10px;
}
@media screen and (min-width: 1025px) {
  .p-topAbout__icon {
    height: 17px;
    width: 14px;
  }
}

.p-topAbout__text {
  font-size: 1.4rem;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 2em;
}
@media screen and (min-width: 1025px) {
  .p-topAbout__text {
    font-size: 1.6rem;
  }
}

.p-topAbout__btn {
  margin-top: 48px;
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #50A594;
  background-color: #F8F8F8;
  border: 1px solid #F2F2F2;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-topAbout__btn:before {
  width: 35px;
  height: 2px;
  top: 50%;
  right: 17px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
}
.p-topAbout__btn:after {
  width: 4px;
  height: 4px;
  top: 48%;
  right: 17px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
  border-radius: 50%;
}
@media screen and (min-width: 1025px) {
  .p-topAbout__btn {
    margin: 48px auto 0;
    width: 60%;
  }
}

/* 全身で楽しむ */
.p-topEnjoy {
  margin-top: 48px;
  padding: 0 16px 48px;
}
@media screen and (min-width: 1025px) {
  .p-topEnjoy {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 0px 0px 48px;
  }
}

@media screen and (min-width: 1025px) {
  .p-topEnjoy__contents {
    width: 45%;
  }
}

@media screen and (min-width: 1025px) {
  .p-topEnjoy__img {
    width: 580px;
  }
}
@media screen and (max-width: 767px) {
  .p-topEnjoy__img {
    width: 100%;
  }
}

.p-topEnjoy__title {
  color: #B9A35A;
  font-size: 2.8rem;
  font-style: "FOT-筑紫Aオールド明朝 Pr6N";
  text-align: center;
  margin-top: 32px;
}
@media screen and (min-width: 1025px) {
  .p-topEnjoy__title {
    margin-top: 0px;
    font-size: 3.2rem;
  }
}

.p-topEnjoy__icon {
  align-items: center;
  display: flex;
  height: 12px;
  margin: 0 auto;
  padding: 24px 0;
  width: 10px;
}
@media screen and (min-width: 1025px) {
  .p-topEnjoy__icon {
    height: 17px;
    width: 14px;
  }
}

.p-topEnjoy__text {
  font-size: 1.4rem;
  line-height: 2em;
}
@media screen and (min-width: 1025px) {
  .p-topEnjoy__text {
    font-size: 1.6rem;
  }
}

/* アクティビティ */
.p-topActivity {
  background-color: #F2F7F6;
  padding: 48px 16px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity {
    padding: 48px;
  }
}

.p-topActivity__list {
  column-gap: 19px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 19px) / 2), 1fr));
  margin-top: 32px;
  row-gap: 44px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__list {
    column-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 80px) / 3), 1fr));
    row-gap: 44px;
  }
}

.p-topActivity__items dl {
  align-items: center;
  display: flex;
  margin-top: 8px;
}
.p-topActivity__items dt {
  background-color: #50A594;
  border-radius: 7%;
  color: #fff;
  padding: 2px 6px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__items dt {
    font-size: 1.2rem;
  }
}
.p-topActivity__items dd {
  color: #6A6A6A;
  margin-left: 4px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__items dd {
    font-size: 1.2rem;
    margin-left: 8px;
  }
}

.p-topActivity__itemsImage {
  height: 110px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__itemsImage {
    height: 250px;
  }
}

.p-topActivity__itemsTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 8px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__itemsTitle {
    font-size: 2rem;
  }
}

.p-topActivity__itemsText {
  color: #6A6A6A;
  font-size: 1.1rem;
  margin-top: 8px;
}
@media screen and (min-width: 1025px) {
  .p-topActivity__itemsText {
    font-size: 1.2rem;
    line-height: 1.8em;
  }
}

/* インスタ */
.p-topInsta {
  padding: 48px 16px;
}

.p-topInsta__icon {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 0 auto;
  padding: 24px 0;
  width: 32px;
}

.p-topInsta__title {
  color: #6A6A6A;
  font-size: 2.8rem;
  font-style: "Futura";
  letter-spacing: 0.2em;
  text-align: center;
}

.p-topInsta__subTitle {
  color: #6A6A6A;
  font-size: 1.4rem;
  margin-top: 4px;
  text-align: center;
}

.p-topNews {
  padding: 48px 16px;
  background-color: #F2F6F7;
}
@media screen and (min-width: 1025px) {
  .p-topNews {
    padding: 48px;
  }
}

.p-topNews__icon {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 0 auto;
  padding: 24px 0;
  width: 32px;
}

.p-topNews__title {
  color: #4BB3D9;
  font-size: 2.8rem;
  font-style: "Futura";
  letter-spacing: 0.2em;
  text-align: center;
}

.p-topNews__subTitle {
  color: #4BB3D9;
  font-size: 1.4rem;
  margin-top: 4px;
  text-align: center;
}

.p-topNews__list {
  margin-top: 32px;
}

.p-topNews__items {
  display: flex;
}
.p-topNews__items:not(:first-child) {
  margin-top: 16px;
}

.p-topNews__itemsImage {
  height: 68px;
  width: 104px;
}
@media screen and (min-width: 1025px) {
  .p-topNews__itemsImage {
    height: 110px;
    width: 180px;
  }
}

.p-topNews__itemsTextArea {
  border-bottom: 1px solid #E2E2E2;
  margin-left: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1025px) {
  .p-topNews__itemsTextArea {
    flex: 1;
  }
}

.p-topNews__itemsTitle {
  font-size: 1.4rem;
}
@media screen and (min-width: 1025px) {
  .p-topNews__itemsTitle {
    font-size: 1.8rem;
  }
}

.p-topNews__itemsDate {
  color: #6A6A6A;
  font-size: 1.1rem;
  margin-top: 8px;
}
@media screen and (min-width: 1025px) {
  .p-topNews__itemsDate {
    font-size: 1.4rem;
  }
}

.p-topNews__btn {
  margin-top: 48px;
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #4BB3D9;
  background-color: rgba(75, 179, 217, 0.1);
  border: 1px solid #F2F2F2;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-topNews__btn:before {
  width: 35px;
  height: 2px;
  top: 50%;
  right: 17px;
  position: absolute;
  display: block;
  content: "";
  background-color: #4BB3D9;
}
.p-topNews__btn:after {
  width: 4px;
  height: 4px;
  top: 48%;
  right: 16px;
  position: absolute;
  display: block;
  content: "";
  background-color: #4BB3D9;
  border-radius: 50%;
}
@media screen and (min-width: 1025px) {
  .p-topNews__btn {
    margin: 48px auto 0;
    width: 30%;
  }
}

/* メインビジュアル */
.p-activity__hero {
  background-image: url("../image/activity/main-sp.jpg");
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .p-activity__hero {
    background-image: url("../image/activity/main.jpg");
  }
}
.p-activity__hero:before {
  content: "";
  display: block;
  padding-bottom: 56%;
}
@media screen and (min-width: 1025px) {
  .p-activity__hero:before {
    padding-bottom: 28%;
  }
}

.p-activity {
  padding: 32px 16px 48px;
}
@media screen and (min-width: 1025px) {
  .p-activity {
    padding: 80px 0;
  }
}

.p-activity__list {
  column-gap: 19px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc((100% - 19px) / 2), 1fr));
  row-gap: 44px;
}
@media screen and (min-width: 1025px) {
  .p-activity__list {
    column-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(calc((100% - 72px) / 4), 1fr));
    row-gap: 64px;
  }
}

.p-activity__items {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 8px;
}
.p-activity__items dl {
  align-items: center;
  column-gap: 8px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: column;
}
@media screen and (max-width: 767px) {
  .p-activity__items dl {
    column-gap: 4px;
  }
}
.p-activity__items dt {
  background-color: #50A594;
  border-radius: 7%;
  color: #fff;
  padding: 2px 6px;
}
@media screen and (min-width: 1025px) {
  .p-activity__items dt {
    font-size: 1.2rem;
  }
}
.p-activity__items dd {
  color: #6A6A6A;
}
@media screen and (min-width: 1025px) {
  .p-activity__items dd {
    font-size: 1.2rem;
  }
}

.p-activity__itemsImage {
  height: 110px;
}
@media screen and (min-width: 1025px) {
  .p-activity__itemsImage {
    height: 148px;
  }
}

.p-activity__itemsTitle {
  font-size: 1.6rem;
  font-weight: 600;
}
@media screen and (min-width: 1025px) {
  .p-activity__itemsTitle {
    font-size: 2rem;
  }
}

.p-activity__itemsText {
  color: #6A6A6A;
  font-size: 1.1rem;
}
@media screen and (min-width: 1025px) {
  .p-activity__itemsText {
    font-size: 1.2rem;
    line-height: 1.8em;
  }
}

.p-activity__btn {
  margin-top: 48px;
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #50A594;
  background-color: #F8F8F8;
  border: 1px solid #F2F2F2;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-activity__btn:before {
  width: 2px;
  height: 16px;
  top: 33%;
  right: 26px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
}
.p-activity__btn:after {
  width: 4px;
  height: 4px;
  top: 59%;
  right: 25px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
  border-radius: 50%;
}
@media screen and (min-width: 1025px) {
  .p-activity__btn {
    margin: 64px auto 0;
    width: 36%;
  }
}

/* メインビジュアル */
.p-activity-detail__hero {
  background-image: url("../image/activity-detail/main.jpg");
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__hero {
    background-image: url("../image/activity/main.jpg");
  }
}
.p-activity-detail__hero:before {
  content: "";
  display: block;
  padding-bottom: 66%;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__hero:before {
    padding-bottom: 28%;
  }
}

.p-activity-detail__slider {
  padding: 0px 16px;
}

.p-activity-detail__sliderTextArea {
  margin-top: -24px;
  padding: 24px;
  letter-spacing: 0.1em;
  background-color: #F2F7F6;
}

.p-activity-detail__sliderTextAreaTitle {
  padding-bottom: 14px;
  font-size: 16px;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 2px solid #1A1311;
}

.p-activity-detail__sliderTextAreaText {
  padding-top: 14px;
  font-size: 14px;
  font-size: 1.4rem;
}

.p-activity-detail__sliderArea {
  padding-top: 16px;
}

.p-activity-detail {
  margin-top: 32px;
  padding: 0 16px 56px;
}

.p-activity-detail__icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 18px;
  margin: 0 auto;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__icon {
    width: 14px;
    height: 17px;
  }
}

.p-activity-detail__title {
  margin-top: 9px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.p-activity-detail__table {
  width: 100%;
  margin-top: 32px;
  border-bottom: 1px solid #E2E2E2;
}
.p-activity-detail__table tr {
  display: flex;
  padding: 16px 0px;
  font-size: 14px;
  font-size: 1.4rem;
  border-top: 1px solid #E2E2E2;
}
.p-activity-detail__table th {
  width: 23%;
  text-align: left;
  font-weight: 500;
}
.p-activity-detail__table td {
  margin-left: 40px;
}

.p-activity-detail__textArea {
  margin-top: 24px;
  font-size: 11px;
  font-size: 1.1rem;
  color: #6A6A6A;
}

.p-activity-detail__btn {
  margin-top: 32px;
}
.p-activity-detail__btn--top {
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #1A1311;
  background-color: #fff;
  border: 1px solid #1A1311;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-activity-detail__btn--top:before {
  width: 0px;
  height: 0px;
  top: 0%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #1A1311;
}
.p-activity-detail__btn--top:after {
  width: 4px;
  height: 4px;
  top: 0%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #1A1311;
  border-radius: 50%;
}
.p-activity-detail__btn--top:before {
  display: none;
}
.p-activity-detail__btn--top:after {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__btn--top {
    width: 30%;
    margin: 0 auto;
  }
}
.p-activity-detail__btn--bottom {
  margin-top: 24px;
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #fff;
  background-color: #50A594;
  border: 1px solid transparent;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-activity-detail__btn--bottom:before {
  width: 0px;
  height: 0px;
  top: 0%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #fff;
}
.p-activity-detail__btn--bottom:after {
  width: 4px;
  height: 4px;
  top: 0%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #fff;
  border-radius: 50%;
}
.p-activity-detail__btn--bottom:before {
  display: none;
}
.p-activity-detail__btn--bottom:after {
  display: none;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__btn--bottom {
    width: 30%;
    margin: 24px auto 0;
  }
}

.p-activity-detail__video {
  padding: 32px 16px;
  background-color: #F2F7F6;
}

.p-activity-detail__btn--back {
  padding: 48px 16px;
}
.p-activity-detail__btn--back a {
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #50A594;
  background-color: #F8F8F8;
  border: 1px solid #F2F2F2;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-activity-detail__btn--back a:before {
  width: 35px;
  height: 2px;
  top: 50%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
}
.p-activity-detail__btn--back a:after {
  width: 4px;
  height: 4px;
  top: 49%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
  border-radius: 50%;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__btn--back a {
    width: 30%;
    margin: 0 auto;
  }
}
.p-activity-detail__btn--back a:before {
  right: 287px;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__btn--back a:before {
    right: 0;
    left: 19px;
  }
}
.p-activity-detail__btn--back a:after {
  right: 321px;
}
@media screen and (min-width: 1025px) {
  .p-activity-detail__btn--back a:after {
    top: 48%;
    right: 0;
    left: 16px;
  }
}

/* メインビジュアル */
.p-about__hero {
  background-image: url("../image/about/main-sp.jpg");
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .p-about__hero {
    background-image: url("../image/about/main.jpg");
  }
}
.p-about__hero:before {
  content: "";
  display: block;
  padding-bottom: 156%;
}
@media screen and (min-width: 1025px) {
  .p-about__hero:before {
    padding-bottom: 39%;
  }
}

.p-about__heroTextArea {
  padding: 0 0 40px 48px;
}
@media screen and (min-width: 1025px) {
  .p-about__heroTextArea {
    padding: 0;
  }
}

.p-about__heroTextAreaCont {
  background-color: #F2F7F6;
  letter-spacing: 0.1em;
  margin-top: -130px;
  padding: 24px;
}
@media screen and (min-width: 1025px) {
  .p-about__heroTextAreaCont {
    padding-bottom: 40px;
  }
}

.p-about__heroTextAreaTitle {
  border-top: 2px solid #1A1311;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-top: 14px;
}
@media screen and (min-width: 1025px) {
  .p-about__heroTextAreaTitle {
    font-size: 2.8rem;
  }
}

.p-about__heroTextAreaTop {
  border-bottom: 2px solid #1A1311;
}

.p-about__heroTextAreaText {
  font-size: 1.4rem;
  padding-top: 16px;
}
@media screen and (min-width: 1025px) {
  .p-about__heroTextAreaText {
    font-size: 1.6rem;
  }
}

.p-about__heroTextAreaIcon {
  text-align: center;
  padding: 16px 0;
}
.p-about__heroTextAreaIcon img {
  height: 81px;
  width: 71px;
}

.p-about__imageList {
  position: relative;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem {
    display: inline-block;
    position: absolute;
  }
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:first-child {
    left: 0;
    top: 0;
  }
}
.p-about__imageList .p-about__imageItem:first-child img {
  height: 161px;
  width: 242px;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:first-child img {
    height: auto;
    width: 379px;
  }
}
.p-about__imageList .p-about__imageItem:nth-child(2) {
  margin-top: 56px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:nth-child(2) {
    margin-top: 0;
    right: 421px;
    top: 394px;
  }
}
.p-about__imageList .p-about__imageItem:nth-child(2) img {
  width: 207px;
  height: 207px;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:nth-child(2) img {
    width: 324px;
    height: auto;
  }
}
.p-about__imageList .p-about__imageItem:nth-child(3) {
  margin-top: 56px;
  text-align: right;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:nth-child(3) {
    margin-top: 0;
    right: 0;
    top: 125px;
  }
}
.p-about__imageList .p-about__imageItem:nth-child(3) img {
  height: 218px;
  width: 328px;
}
@media screen and (min-width: 1025px) {
  .p-about__imageList .p-about__imageItem:nth-child(3) img {
    height: auto;
    width: 515px;
  }
}

.p-about__guide {
  margin-top: 80px;
  padding: 0 24px;
}
@media screen and (min-width: 1025px) {
  .p-about__guide {
    margin-top: 870px;
  }
}

.p-about__guideItem {
  background-color: #F1EDDE;
  margin-top: 48px;
  padding: 24px 24px 56px;
}
@media screen and (min-width: 1025px) {
  .p-about__guideItem {
    display: flex;
    padding-right: 100px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .p-about__guideItemImage {
    height: auto;
    width: 480px;
  }
}

@media screen and (min-width: 1025px) {
  .p-about__guideItemCont {
    margin-left: 90px;
  }
}

.p-about__guideItemTitle {
  border-top: 1px solid #1A1311;
  border-bottom: 1px solid #1A1311;
  font-size: 2rem;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

.p-about__guideItemSubtitle {
  font-size: 1.4rem;
  margin-top: 24px;
}
@media screen and (min-width: 1025px) {
  .p-about__guideItemSubtitle {
    line-height: 2em;
  }
}

/* アクセス */
.p-about__access {
  background-color: #F8F8F8;
  margin-top: 80px;
  padding: 48px 16px;
}

.p-about__accessList {
  margin-top: 48px;
}

.p-about__accessItem:first-child {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItem:first-child {
    flex-direction: row;
    justify-content: space-between;
  }
}
.p-about__accessItem:nth-child(2) {
  margin-top: 48px;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItem:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
}
.p-about__accessItem:nth-child(3), .p-about__accessItem:last-child {
  margin-top: 32px;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItem .p-about__accessItemCont {
    width: 50%;
  }
}
.p-about__accessItem dl {
  border-top: 1px solid #1A1311;
  padding-top: 16px;
}
.p-about__accessItem dl div {
  align-items: center;
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  font-size: 1.4rem;
  padding: 16px 0px;
}
.p-about__accessItem dl div:first-child {
  padding-top: 0;
}
.p-about__accessItem dl dt {
  font-weight: 600;
  width: 25%;
}
.p-about__accessItem dl dt span {
  font-size: 1.1rem;
  font-weight: normal;
}
.p-about__accessItem dl dd {
  margin-left: 40px;
}

.p-about__accessItemTitle {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 16px;
}

.p-about__accessItemImage {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItemImage {
    margin-top: 0;
    text-align: left;
  }
}
.p-about__accessItemImage img {
  height: 272px;
  width: 279px;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItemImage img {
    height: fit-content;
    width: 416px;
  }
}

.p-about__accessItemImage--second {
  margin-top: 40px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItemImage--second {
    margin-top: 0;
    text-align: left;
  }
}
.p-about__accessItemImage--second img {
  height: 243px;
  width: 343px;
}
@media screen and (min-width: 1025px) {
  .p-about__accessItemImage--second img {
    height: fit-content;
    width: 416px;
  }
}

/* リンク集 */
.p-about__links {
  margin-top: 80px;
  padding: 0 16px 80px;
}
@media screen and (min-width: 1025px) {
  .p-about__links {
    padding: 0 0 80px;
  }
}

.p-about__linksIcon {
  align-items: center;
  display: flex;
  height: 18px;
  margin: 0 auto;
  width: 16px;
}

.p-about__linksTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 9px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .p-about__linksTitle {
    font-size: 2rem;
  }
}

.p-about__linksImageList--big {
  margin-top: 48px;
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--big {
    display: flex;
    gap: 48px;
  }
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--big .p-about__linksImageItems {
    width: calc((100% - 48px) / 2);
  }
}
.p-about__linksImageList--big .p-about__linksImageItems img {
  display: block;
  height: 227px;
  margin: 0 auto;
  width: 343px;
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--big .p-about__linksImageItems img {
    height: fit-content;
    width: 100%;
  }
}
.p-about__linksImageList--big .p-about__linksImageItems:not(:first-child) {
  margin-top: 40px;
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--big .p-about__linksImageItems:not(:first-child) {
    margin-top: 0;
  }
}
.p-about__linksImageList--big .p-about__linksImageItemsText {
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 16px;
}

.p-about__linksImageList--small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}
.p-about__linksImageList--small .p-about__linksImageItems {
  width: calc((100% - 17px) / 2);
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--small .p-about__linksImageItems {
    width: calc((100% - 96px) / 3);
  }
}
.p-about__linksImageList--small .p-about__linksImageItems img {
  display: block;
  height: 108px;
  margin: 0 auto;
  width: 162px;
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--small .p-about__linksImageItems img {
    height: fit-content;
    width: 100%;
  }
}
.p-about__linksImageList--small .p-about__linksImageItems:nth-child(n+3) {
  margin-top: 40px;
}
@media screen and (min-width: 1025px) {
  .p-about__linksImageList--small .p-about__linksImageItems:nth-child(n+3) {
    margin-top: 0;
  }
}
.p-about__linksImageList--small .p-about__linksImageItemsText {
  margin-top: 16px;
  font-size: 1.1rem;
}

/* メインビジュアル */
.p-use__hero {
  background-image: url("../image/howtouse/main-sp.jpg");
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .p-use__hero {
    background-image: url("../image/howtouse/main.jpg");
  }
}
.p-use__hero:before {
  content: "";
  display: block;
  padding-bottom: 56%;
}
@media screen and (min-width: 1025px) {
  .p-use__hero:before {
    padding-bottom: 28%;
  }
}

.p-use__gide {
  padding: 40px 16px 48px;
}

.p-use__gideList {
  counter-reset: number;
  background: #F2F7F6;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  margin-top: 32px;
  padding: 24px 32px;
}

.p-use__gideItems {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 16px;
  width: calc((100% - 32px) / 3);
}
.p-use__gideItems:nth-child(3) {
  padding-right: 0;
}
.p-use__gideItems:last-child {
  padding-right: 0;
  width: fit-content;
}
.p-use__gideItems:nth-child(3) .p-use__gideItemsInner:after, .p-use__gideItems:last-child .p-use__gideItemsInner:after {
  content: none;
}

.p-use__gideItemsInner {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  display: flex;
  height: 64px;
  justify-content: center;
  position: relative;
  width: 64px;
}
.p-use__gideItemsInner img {
  width: 24px;
  height: 2 4px;
}
.p-use__gideItemsInner:before {
  counter-increment: number;
  content: counter(number);
  color: #50A594;
  display: block;
  font-size: 22px;
  font-weight: bold;
  left: 0;
  position: absolute;
  top: 0px;
}
.p-use__gideItemsInner:after {
  border-left: 8px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: -24px;
  position: absolute;
  width: 0;
}

.p-use__gideItemsText {
  font-size: 1.4rem;
}

.p-use__gideCancel {
  margin-top: 40px;
}

.p-use__gideCancelTitle {
  font-size: 1.6rem;
  text-align: center;
}

.p-use__gideCancelStepList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.p-use__gideCancelStepItemsNum {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: min-content auto;
}
.p-use__gideCancelStepItemsNum:after {
  border: 1px solid #1A1311;
  content: "";
}

.p-use__gideCancelStepItemsText {
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 16px;
}

.p-use__gideCancelStepItemsCaption {
  color: #707070;
  font-size: 1.1rem;
  margin-top: 8px;
  padding-left: 16px;
  position: relative;
}
.p-use__gideCancelStepItemsCaption:before {
  content: "※";
  position: absolute;
  left: 0;
}
.p-use__gideCancelStepItemsCaption a {
  color: #50A594;
  text-decoration: underline;
}

.p-use__qa {
  background: #F2F7F6;
  padding: 48px 16px;
}

.p-use__qaAccordionList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 48px;
}

.p-use__qaAccordionItem {
  border: 1px solid #F2F2F2;
}

.p-use__qaAccordionItemHead {
  align-items: center;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.p-use__qaAccordionItemHeadText {
  font-size: 1.6rem;
}

.p-use__qaAccordionItemHeadIcon {
  background: currentColor;
  color: #50A594;
  display: inline-block;
  height: 0.1em;
  line-height: 1;
  width: 16px;
  position: relative;
  vertical-align: middle;
}
.p-use__qaAccordionItemHeadIcon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transition: all 0.4s ease-out;
  transform: rotate(90deg);
}
.p-use__qaAccordionItemHeadIcon.active:before {
  transform: rotate(0deg);
}

.p-use__qaAccordionItemInner {
  background: #fff;
  display: none;
  flex-direction: column;
  gap: 24px;
}
.p-use__qaAccordionItemInner.active {
  border-top: 2px solid #F2F2F2;
  display: flex;
  padding: 16px;
}

.p-use__qaAccordionItemInnerItem {
  border-bottom: 1px solid #E2E2E2;
  padding: 0 0 24px 24px;
}
.p-use__qaAccordionItemInnerItem:last-child {
  border-bottom: none;
}

.p-use__qaAccordionItemInnerItemTitle {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 2em;
  position: relative;
}
.p-use__qaAccordionItemInnerItemTitle:before {
  content: "";
  background-image: url("../image/howtouse/icon-04.svg");
  display: inline-block;
  height: 24px;
  left: -24px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.p-use__qaAccordionItemInnerItemText {
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 16px;
  position: relative;
}
.p-use__qaAccordionItemInnerItemText:before {
  content: "";
  background-image: url("../image/howtouse/icon-05.svg");
  display: inline-block;
  height: 24px;
  left: -24px;
  position: absolute;
  top: 2px;
  width: 18px;
}

.p-use__qaAccordionItemInnerItemCaption {
  color: #6A6A6A;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin-top: 8px;
}

.p-use__law {
  display: flex;
  flex-direction: column;
  padding: 48px 16px;
}

.p-use__lawTitle {
  border-bottom: 1px solid #1A1311;
  font-size: 2rem;
  font-weight: bold;
  line-height: 28px;
  padding-bottom: 16px;
}

.p-use__lawItems {
  border-bottom: 1px solid #E2E2E2;
  display: flex;
  gap: 40px;
  padding: 16px 0;
}

.p-use__lawItemsTitle {
  font-size: 1.4rem;
  font-weight: bold;
  width: 22%;
}

.p-use__lawItemsText {
  font-size: 1.4rem;
  flex: 1;
  line-height: 2em;
}
.p-use__lawItemsText a {
  color: #50A594;
  text-decoration: underline;
}

.p-use__lawItemsCaption {
  color: #6A6A6A;
  display: block;
  font-size: 1.1rem;
  line-height: 16px;
}

.p-use__terms {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px 48px;
}

.p-use__termsTitle {
  border-bottom: 1px solid #1A1311;
  font-size: 2rem;
  font-weight: bold;
  line-height: 28px;
  padding-bottom: 16px;
}

.p-use__termsList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-use__termsItemsTitle {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 16px;
}

.p-use__termsItemsTextItems {
  font-size: 1.1rem;
  line-height: 16px;
  text-indent: 1em;
  position: relative;
}
.p-use__termsItemsTextItems:before {
  content: "・";
  display: block;
  left: -1em;
  position: absolute;
}

/* メインビジュアル */
.p-news__hero {
  background-image: url("../image/news/main-sp.jpg");
  background-size: cover;
}
@media screen and (min-width: 1025px) {
  .p-news__hero {
    background-image: url("../image/news/main.jpg");
  }
}
.p-news__hero:before {
  content: "";
  display: block;
  padding-bottom: 56%;
}
@media screen and (min-width: 1025px) {
  .p-news__hero:before {
    padding-bottom: 28%;
  }
}

.p-news {
  padding: 40px 16px 80px;
}
@media screen and (min-width: 1025px) {
  .p-news {
    padding: 80px 0;
  }
}

.p-news__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.p-news__items {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 24px;
}

.p-news__itemsDate {
  color: #6A6A6A;
  font-size: 1.1rem;
  line-height: 16px;
}

.p-news__itemsTitle {
  color: #50A594;
  font-size: 1.6rem;
  line-height: 24px;
  margin-top: 4px;
}

.p-news__itemsText {
  display: -webkit-box;
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 8px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.p-news-detail {
  padding: 24px 16px 48px;
}
@media screen and (min-width: 1025px) {
  .p-news-detail {
    padding: 80px 0 250px;
  }
}

.p-news-detail__date {
  color: #6A6A6A;
  font-size: 1.4rem;
  line-height: 2em;
}

.p-news-detail__title {
  color: #50A594;
  border-bottom: 1px solid #E2E2E2;
  font-size: 2.8rem;
  line-height: 1;
  margin-top: 8px;
  padding-bottom: 24px;
}

.p-news-detail__text {
  font-size: 1.4rem;
  line-height: 2em;
  margin-top: 48px;
}

.p-news-detail__btn--back {
  padding: 48px 0 0;
}
.p-news-detail__btn--back a {
  width: 100%;
  position: relative;
  display: block;
  padding: 16px 0;
  text-align: center;
  color: #50A594;
  background-color: #F8F8F8;
  border: 1px solid #F2F2F2;
  font-size: 16px;
  font-size: 1.6rem;
}
.p-news-detail__btn--back a:before {
  width: 35px;
  height: 2px;
  top: 50%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
}
.p-news-detail__btn--back a:after {
  width: 4px;
  height: 4px;
  top: 49%;
  right: 0px;
  position: absolute;
  display: block;
  content: "";
  background-color: #50A594;
  border-radius: 50%;
}
@media screen and (min-width: 1025px) {
  .p-news-detail__btn--back a {
    width: 343px;
    margin: 0 auto;
  }
}
.p-news-detail__btn--back a:before {
  right: 287px;
}
@media screen and (min-width: 1025px) {
  .p-news-detail__btn--back a:before {
    right: 0;
    left: 19px;
  }
}
.p-news-detail__btn--back a:after {
  right: 321px;
}
@media screen and (min-width: 1025px) {
  .p-news-detail__btn--back a:after {
    top: 48%;
    right: 0;
    left: 16px;
  }
}/*# sourceMappingURL=style.css.map */