@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

/* メインビジュアル */
.p-about__hero {
  background-image: url('../image/about/main-sp.jpg');
  background-size: cover;
  @include m.mq(pc) {
    background-image: url('../image/about/main.jpg');
  }
  &:before {
    content: '';
    display: block;
    padding-bottom: 156%;
    @include m.mq(pc) {
      padding-bottom: 39%;
    }
  }
}

.p-about__heroTextArea {
  padding: 0 0 40px 48px;
  @include m.mq(pc) {
    padding: 0;
  }
}

.p-about__heroTextAreaCont {
  background-color: g.$color-08;
  letter-spacing: 0.1em;
  margin-top: -130px;
  padding: 24px;
  @include m.mq(pc) {
    padding-bottom: 40px;
  }
}

.p-about__heroTextAreaTitle {
  border-top: 2px solid g.$color-black;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-top: 14px;
  @include m.mq(pc) {
    font-size: 2.8rem;
  }
}

.p-about__heroTextAreaTop {
  border-bottom: 2px solid g.$color-black;
}

.p-about__heroTextAreaText {
  font-size: 1.4rem;
  padding-top: 16px;
  @include m.mq(pc) {
    font-size: 1.6rem;
  }
}

.p-about__heroTextAreaIcon {
  text-align: center;
  padding: 16px 0;
  img {
    height: 81px;
    width: 71px;
  }
}

.p-about__imageList {
  position: relative;
  @include m.mq(pc) {
    margin-top: 80px;
  }

  .p-about__imageItem {
    @include m.mq(pc) {
      display: inline-block;
      position: absolute;
    }
  }

  .p-about__imageItem:first-child {
    @include m.mq(pc) {
      left: 0;
      top: 0;
    }
    img {
      height: 161px;
      width: 242px;
      @include m.mq(pc) {
        height: auto;
        width: 379px;
      }
    }
  }

  .p-about__imageItem:nth-child(2) {
    margin-top: 56px;
    text-align: center;
    @include m.mq(pc) {
      margin-top: 0;
      right: 421px;
      top: 394px;
    }
    img {
      width: 207px;
      height: 207px;
      @include m.mq(pc) {
        width: 324px;
        height: auto;
      }
    }
  }

  .p-about__imageItem:nth-child(3) {
    margin-top: 56px;
    text-align: right;
    @include m.mq(pc) {
      margin-top: 0;
      right: 0;
      top: 125px;
    }
    img {
      height: 218px;
      width: 328px;
      @include m.mq(pc) {
        height: auto;
        width: 515px;
      }
    }
  }
}

.p-about__guide {
  margin-top: 80px;
  padding: 0 24px;
  @include m.mq(pc) {
    margin-top: 870px;
  }
}

.p-about__guideItem {
  background-color: g.$color-10;
  margin-top: 48px;
  padding: 24px 24px 56px;
  @include m.mq(pc) {
    display: flex;
    padding-right: 100px;
    padding-bottom: 24px;
  }
}

.p-about__guideItemImage {
  @include m.mq(pc) {
    height: auto;
    width: 480px;
  }
}

.p-about__guideItemCont {
  @include m.mq(pc) {
    margin-left: 90px;
  }
}

.p-about__guideItemTitle {
  border-top: 1px solid g.$color-black;
  border-bottom: 1px solid g.$color-black;
  font-size: 2rem;
  margin-top: 16px;
  padding: 16px 0;
  text-align: center;
}

.p-about__guideItemSubtitle {
  font-size: 1.4rem;
  margin-top: 24px;
  @include m.mq(pc) {
    line-height: 2em;
  }
}

/* アクセス */
.p-about__access {
  background-color: g.$color-09;
  margin-top: 80px;
  padding: 48px 16px;
}

.p-about__accessList {
  margin-top: 48px;
}

.p-about__accessItem {
  &:first-child {
    display: flex;
    flex-direction: column;
    @include m.mq(pc) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &:nth-child(2) {
    margin-top: 48px;
    @include m.mq(pc) {
      display: flex;
      justify-content: space-between;
    }
  }

  &:nth-child(3), &:last-child {
    margin-top: 32px;
  }

  .p-about__accessItemCont {
    @include m.mq(pc) {
      width: 50%;
    }
  }

  dl {
    border-top: 1px solid g.$color-black;
    padding-top: 16px;
    div {
      align-items: center;
      border-bottom: 1px solid g.$border-color-01;
      display: flex;
      font-size: 1.4rem;
      padding: 16px 0px;
      &:first-child {
        padding-top: 0;
      }
    }
    dt {
      font-weight: 600;
      width: 25%;
      span {
        font-size: 1.1rem;
        font-weight: normal;
      }
    }
    dd {
      margin-left: 40px;
    }
  }
}

.p-about__accessItemTitle {
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 16px;
}

.p-about__accessItemImage {
  margin-top: 40px;
  text-align: center;
  @include m.mq(pc) {
    margin-top: 0;
    text-align: left;
  }
  img {
    height: 272px;
    width: 279px;
    @include m.mq(pc) {
      height: fit-content;
      width: 416px;
    }
  }
}

.p-about__accessItemImage--second {
  margin-top: 40px;
  text-align: center;
  @include m.mq(pc) {
    margin-top: 0;
    text-align: left;
  }
  img {
    height: 243px;
    width: 343px;
    @include m.mq(pc) {
      height: fit-content;
      width: 416px;
    }
  }
}

/* リンク集 */
.p-about__links {
  margin-top: 80px;
  padding: 0 16px 80px;
  @include m.mq(pc) {
    padding: 0 0 80px;
  }
}

.p-about__linksIcon {
  align-items: center;
  display: flex;
  height: 18px;
  margin: 0 auto;
  width: 16px;
}

.p-about__linksTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 9px;
  text-align: center;
  @include m.mq(pc) {
    font-size: 2rem;
  }
}

.p-about__linksImageList--big {
  margin-top: 48px;
  @include m.mq(pc) {
    display: flex;
    gap: 48px;
  }

  .p-about__linksImageItems {
    @include m.mq(pc) {
      width: calc((100% - 48px) / 2);
    }
    img {
      display: block;
      height: 227px;
      margin: 0 auto;
      width: 343px;
      @include m.mq(pc) {
        height: fit-content;
        width: 100%;
      }
    }

    &:not(:first-child) {
      margin-top: 40px;
      @include m.mq(pc) {
        margin-top: 0;
      }
    }
  }

  .p-about__linksImageItemsText {
    font-size: 1.4rem;
    line-height: 2em;
    margin-top: 16px;
  }
}

.p-about__linksImageList--small {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;

  .p-about__linksImageItems {
    width: calc((100% - 17px) / 2);
    @include m.mq(pc) {
      width: calc((100% - 48px * 2) / 3);
    }
    img {
      display: block;
      height: 108px;
      margin: 0 auto;
      width: 162px;
      @include m.mq(pc) {
        height: fit-content;
        width: 100%;
      }
    }

    &:nth-child(n + 3) {
      margin-top: 40px;
      @include m.mq(pc) {
        margin-top: 0;
      }
    }
  }

  .p-about__linksImageItemsText {
    margin-top: 16px;
    font-size: 1.1rem;
  }
}