@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

/* メインビジュアル */
.p-activity__hero {
  background-image: url('/image/activity/main.jpg');
  background-size: cover;
  &:before {
    content: '';
    display: block;
    padding-bottom: 56%;
    @include m.mq(pc) {
      padding-bottom: 57%;
    }
  }
}

.p-activity__list {
  padding: 0 16px 48px;
}

.p-activity__btn {
  margin-top: 48px;
  @include m.button(g.$color-01, g.$color-09, 2px, 16px, 33%, 26px, 59%, 25px, g.$color-06);
}