@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

/* メインビジュアル */
.p-activity__hero {
  background-image: url('../image/activity/main-sp.jpg');
  background-size: cover;
  @include m.mq(pc) {
    background-image: url('../image/activity/main.jpg');
  }
  &:before {
    content: '';
    display: block;
    padding-bottom: 56%;
    @include m.mq(pc) {
      padding-bottom: 28%;
    }
  }
}

.p-activity {
  padding: 32px 16px 48px;
  @include m.mq(pc) {
    padding: 80px 0;
  }
}

.p-activity__list {
  column-gap: 19px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((100% - 19px) / 2), 1fr)
  );
  row-gap: 44px;
  @include m.mq(pc) {
    column-gap: 24px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc((100% - 24px * 3) / 4), 1fr)
    );
    row-gap: 64px;
  }
}

.p-activity__items {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 8px;
  dl {
    align-items: center;
    column-gap: 8px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-flow: column;
    @include m.mq(sp) {
      column-gap: 4px;
    }
  }

  dt {
    background-color: g.$color-01;
    border-radius: 7%;
    color: g.$color-white;
    padding: 2px 6px;
    @include m.mq(pc) {
      font-size: 1.2rem;
    }
  }

  dd {
    color: g.$color-03;
    @include m.mq(pc) {
      font-size: 1.2rem;
    }
  }
}

.p-activity__itemsImage {
  height: 110px;
  @include m.mq(pc) {
    height: 148px;
  }
}

.p-activity__itemsTitle {
  font-size: 1.6rem;
  font-weight: 600;
  @include m.mq(pc) {
    font-size: 2rem;
  }
}

.p-activity__itemsText {
  color: g.$color-03;
  font-size: 1.1rem;
  @include m.mq(pc) {
    font-size: 1.2rem;
    line-height: 1.8em;
  }
}

.p-activity__btn {
  margin-top: 48px;
  @include m.button(g.$color-01, g.$color-09, 2px, 16px, 33%, 26px, 59%, 25px, g.$color-06);
  @include m.mq(pc) {
    margin: 64px auto 0;
    width: 36%;
  }
}