@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

/* メインビジュアル */
.p-hero {
  background-image: url('../image/top/main-sp.png');
  background-size: cover;
  position: relative;
  @include m.mq(pc) {
    background-image: url('../image/top/main.png');
  }
  &:before {
    content: '';
    display: block;
    padding-bottom: 216%;
    @include m.mq(pc) {
      padding-bottom: 56%;
    }
  }
}

.p-hero__title {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

/* 名寄について */
.p-topAbout {
  padding: 20px 16px 48px;
}

.p-topAbout__inner {
  @include m.mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    gap: 64px;
    justify-content: space-between;
    padding: 80px 0px 48px;
  }
}

.p-topAbout__contents {
  @include m.mq(pc) {
    width: 45%;
  }
}

.p-topAbout__img {
  @include m.mq(pc) {
    width: 580px;
  }
  @include m.mq(sp) {
    width: 100%;
  }
}

.p-topAbout__title {
  color: g.$color-01;
  font-size: 2.8rem;
  font-family: "fot-tsukuaoldmin-pr6n, sans-serif;";
  font-style: normal;
  font-weight: 300;
  margin-top: 32px;
  text-align: center;
  @include m.mq(pc) {
    font-size: 3.2rem;
    margin-top: 0px;
  }
}

.p-topAbout__icon {
  align-items: center;
  display: flex;
  height: 12px;
  margin: 0 auto;
  padding: 24px 0;
  width: 10px;
  @include m.mq(pc) {
    height: 17px;
    width: 14px;
  }
}

.p-topAbout__text {
  font-size: 1.4rem;
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: 2em;
  @include m.mq(pc) {
    font-size: 1.6rem;
  }
}

.p-topAbout__btn {
  margin-top: 48px;
  @include m.button(g.$color-01, g.$color-09, 35px, 2px, 50%, 17px, 48%, 17px, g.$color-06);
  @include m.mq(pc) {
    margin: 48px auto 0;
    width: 60%;
  }
}

/* 全身で楽しむ */
.p-topEnjoy {
  margin-top: 48px;
  padding: 0 16px 48px;
  @include m.mq(pc) {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 0px 0px 48px;
  }
}

.p-topEnjoy__contents {
  @include m.mq(pc) {
    width: 45%;
  }
}

.p-topEnjoy__img {
  @include m.mq(pc) {
    width: 580px;
  }
  @include m.mq(sp) {
    width: 100%;
  }
}

.p-topEnjoy__title {
  color: g.$color-02;
  font-size: 2.8rem;
  font-style: "FOT-筑紫Aオールド明朝 Pr6N";
  text-align: center;
  margin-top: 32px;
  @include m.mq(pc) {
    margin-top: 0px;
    font-size: 3.2rem;
  }
}

.p-topEnjoy__icon {
  align-items: center;
  display: flex;
  height: 12px;
  margin: 0 auto;
  padding: 24px 0;
  width: 10px;
  @include m.mq(pc) {
    height: 17px;
    width: 14px;
  }
}

.p-topEnjoy__text {
  font-size: 1.4rem;
  line-height: 2em;
  @include m.mq(pc) {
    font-size: 1.6rem;
  }
}

/* アクティビティ */
.p-topActivity {
  background-color: #F2F7F6;
  padding: 48px 16px;
  @include m.mq(pc) {
    padding: 48px;
  }
}

.p-topActivity__list {
  column-gap: 19px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc((100% - 19px) / 2), 1fr)
  );
  margin-top: 32px;
  row-gap: 44px;
  @include m.mq(pc) {
    column-gap: 40px;
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc((100% - 40px * 2) / 3), 1fr)
    );
    row-gap: 44px;
  }
}

.p-topActivity__items {
  dl {
    align-items: center;
    display: flex;
    margin-top: 8px;
  }

  dt {
    background-color: g.$color-01;
    border-radius: 7%;
    color: g.$color-white;
    padding: 2px 6px;
    @include m.mq(pc) {
      font-size: 1.2rem;
    }
  }

  dd {
    color: g.$color-03;
    margin-left: 4px;
    @include m.mq(pc) {
      font-size: 1.2rem;
      margin-left: 8px;
    }
  }
}

.p-topActivity__itemsImage {
  height: 110px;
  @include m.mq(pc) {
    height: 250px;
  }
}

.p-topActivity__itemsTitle {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 8px;
  @include m.mq(pc) {
    font-size: 2rem;
  }
}

.p-topActivity__itemsText {
  color: g.$color-03;
  font-size: 1.1rem;
  margin-top: 8px;
  @include m.mq(pc) {
    font-size: 1.2rem;
    line-height: 1.8em;
  }
}

/* インスタ */
.p-topInsta {
  padding: 48px 16px;
}

.p-topInsta__icon {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 0 auto;
  padding: 24px 0;
  width: 32px;
}

.p-topInsta__title {
  color: g.$color-03;
  font-size: 2.8rem;
  font-style: "Futura";
  letter-spacing: 0.2em;
  text-align: center;
}

.p-topInsta__subTitle {
  color: g.$color-03;
  font-size: 1.4rem;
  margin-top: 4px;
  text-align: center;
}

.p-topNews {
  padding: 48px 16px;
  background-color: #F2F6F7;
  @include m.mq(pc) {
    padding: 48px;
  }
}

.p-topNews__icon {
  align-items: center;
  display: flex;
  height: 32px;
  margin: 0 auto;
  padding: 24px 0;
  width: 32px;
}

.p-topNews__title {
  color: g.$color-04;
  font-size: 2.8rem;
  font-style: "Futura";
  letter-spacing: 0.2em;
  text-align: center;
}

.p-topNews__subTitle {
  color: g.$color-04;
  font-size: 1.4rem;
  margin-top: 4px;
  text-align: center;
}

.p-topNews__list {
  margin-top: 32px;
}

.p-topNews__items {
  display: flex;
  &:not(:first-child) {
    margin-top: 16px;
  }
}

.p-topNews__itemsImage {
  height: 68px;
  width: 104px;
  @include m.mq(pc) {
    height: 110px;
    width: 180px;
  }
}

.p-topNews__itemsTextArea {
  border-bottom: 1px solid g.$border-color-01;
  margin-left: 16px;
  padding-bottom: 16px;
  @include m.mq(pc) {
    flex: 1;
  }
}

.p-topNews__itemsTitle {
  font-size: 1.4rem;
  @include m.mq(pc) {
    font-size: 1.8rem;
  }
}

.p-topNews__itemsDate {
  color: g.$color-03;
  font-size: 1.1rem;
  margin-top: 8px;
  @include m.mq(pc) {
    font-size: 1.4rem;
  }
}

.p-topNews__btn {
  margin-top: 48px;
  @include m.button(g.$color-04, rgba($color: g.$color-04, $alpha: 0.1), 35px, 2px, 50%, 17px, 48%, 16px, g.$color-06);
  @include m.mq(pc) {
    margin: 48px auto 0;
    width: 30%;
  }
}