@use "../foundation/variable" as g;

.l-header {

}

.l-header__icon {
  position: absolute;
  width: 62px;
  height: 62px;
  top: 0;
  right: 0;
  background-color: g.$color-06;
  padding: 19px 16px;
  cursor: pointer;
  z-index: 3;

  .bar {
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: g.$color-07;
    transition: all 0.5s;
  }

  .top {
    top: 30%;
  }
  .middle {
    top: 48%;
  }
  .bottom {
    top: 66%;
  }
}

/* animation付与時のアイコンのcss */
.animation1 .top {
  top: 48%;
}
.animation1 .bottom {
  top: 48%;
}
.animation2 .top {
  transform: rotate(45deg);
}
.animation2 .middle {
  opacity: 0;
}
.animation2 .bottom {
  transform: rotate(-45deg);
}

/* 初期状態では左側に隠している状態に設定 */
.l-header__menus {
  background-color: g.$color-06;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  transition: left 0.5s;
}

.l-header__menus.animation2 {
  left: 0;
  z-index: 2;
}

.l-header__menuList {
  position: absolute;
  top: 30%;
  left: 14%;

  li {
    font-size: 28px;
    font-size: 2.8rem;
    padding-bottom: 9px;
    letter-spacing: 0.1em;
    border-bottom: 1px solid g.$border-color-01;
    &:not(:first-child) {
      padding-top: 19px;
    }
  }
}