@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

.l-headerUnder {
  width: 100%;
  height: 62px;
  padding: 13px 16px;
  background-color: g.$color-06;
  @include m.mq(pc) {
    height: 0px;
    padding: 0;
  }
  .l-header__logo {
    img {
      width: 32px;
      height: 37px;
    }
  }
  .l-header__icon {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
    right: 0;
    background-color: g.$color-06;
    padding: 19px 16px;
    cursor: pointer;
    z-index: 3;

    .bar {
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: g.$color-07;
      transition: all 0.5s;
    }

    .top {
      top: 30%;
    }
    .middle {
      top: 48%;
    }
    .bottom {
      top: 66%;
    }
  }

  .animation1 .top {
    top: 48%;
  }
  .animation1 .bottom {
    top: 48%;
  }
  .animation2 .top {
    transform: rotate(45deg);
  }
  .animation2 .middle {
    opacity: 0;
  }
  .animation2 .bottom {
    transform: rotate(-45deg);
  }

  .l-header__menus {
    background-color: g.$color-06;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: left 0.5s;
    @include m.mq(sp) {
      left: 100%;
    }
    @include m.mq(pc) {
      width: 600px;
      right: -600px;
    }
  }

  .l-header__menus.animation2 {
    @include m.mq(sp) {
      left: 0;
    }
    @include m.mq(pc) {
      right: 0;
    }
    z-index: 2;
  }

  .l-header__menuList {
    position: absolute;
    top: 30%;
    left: 14%;

    li {
      font-size: 28px;
      font-size: 2.8rem;
      padding-bottom: 9px;
      letter-spacing: 0.1em;
      border-bottom: 1px solid g.$border-color-01;
      &:not(:first-child) {
        padding-top: 19px;
      }
    }
  }
}
