@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

.c-display--pc {
  @include m.mq(sp) {
    display: none !important;
  }
}

.c-display--sp {
  @include m.mq(pc) {
    display: none !important;
  }
}

.c-contentWidth {
  max-width: g.$pc-width;
  margin: 0 auto;
  @include m.mq(pc) {
    width: g.$pc-width;
  }
}