@use "../foundation/variable" as g;
@use "../foundation/mixin" as m;

.c-titleArea__icon {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 24px 0;
  margin: 0 auto;
  @include m.mq(pc) {
    width: 50px;
    height: 50px;
  }
}

.c-titleArea__title {
  &--black {
    @include m.title(g.$color-black);
  }
  &--green {
    @include m.title(g.$color-01);
  }
  &--blue {
    @include m.title(g.$color-04);
  }
  &--gray {
    @include m.title(g.$color-03);
  }
}

.c-titleArea__subTitle {
  &--black {
    @include m.subTitle(g.$color-black);
  }
  &--green {
    @include m.subTitle(g.$color-01);
  }
  &--blue {
    @include m.subTitle(g.$color-04);
  }
  &--gray {
    @include m.subTitle(g.$color-03);
  }
}